.container-fluid {
	padding: 0;
	margin-bottom: 20px;
}

.search-padding {
	padding: 0px 15%;
}

.input-text {
	border: 2px solid #e1e1e1;
	padding: 5px;
}

.input-btn {
	letter-spacing: 1px;
	font-size: 17px;
}