.container-fluid {
	height: 100vh;
	padding: 0;
}

.mat-grid-tile {
	border: 1px solid #e1e1e1;
}


.image-title {
	font-size: 14px;
	position: absolute;
	bottom: 0;
	background: #222;
	width: 100%;
	opacity: .7;
	color: #fff;
	padding: 5px;
}